body{

margin: 0;
box-sizing:content-box;
    /* background-image: url(/thought-catalog-I0TDRP0fj6Y-unsplash.jpg); */

    background-size: 200vh;
    background-position: center;
    background-repeat: no-repeat;
    background-position:initial;
  

}

img{

    position: absolute;
    margin-left: 3rem;
}