.container {
  width: 1460px;
  max-width: 70%;
  margin: 0 auto;
}

.btn {
  padding: 8px 20px;
  outline: none;
  background: transparent;
  border: 2px solid rgb(255, 0, 98);
  border-radius: 9%;
  color: var(--pure);
  font-size: 1.2rem;
  animation: button 3s ease-in-out infinite alternate;
}

@keyframes button {
  50% {
    transform: translateY(0%) scale(0.9);
  }
}

.btn:hover {
  transition: 0.3s ease-out;
  background: rgb(255, 0, 98);
}

.green {
  color: greenyellow;
  font-size: 2rem;
}

.blue {
  color: rgb(255, 0, 98);
  font-size: 3rem;
}

.services-sec {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgb(17, 2, 29), rgba(8, 1, 15, 0.76));
  color: var(--pure);
  display: flex;
  align-items: center;
  min-height: 100vh;
  
}

.sercon {
  width: 90%;
  margin: 0 auto;
  
}

.sercon > h1,
.ser-title {
  font-weight: 600 !important;
  letter-spacing: 3px;
}

.sercon > h1,
.sercon > p {
  text-align: center;
  margin-top: 50px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  
}
.service {
  margin: 10px;
  overflow: hidden;
  padding: 35px 15px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  width: 300px;

}

.service:hover {
  background-color: rgba(255, 0, 98, 0.507);
  transform: translate(-3px);
}

.service::before{
  content: '';
  border-width:20px;
  border-style: solid;

  border-color:#222f3e  #222f3e rgba(1,1,1,0.4) rgba(0,0,0,0.4);
  position: absolute;
  right: -40px;
  top: -40px;
  transition: right 0.3s ease-out,
              top 0.3s ease-out;
}

.service:hover::before{
  right:0;
  top:0;
}

  .service > .icon {

  display: block;
  color:var(--pure);
  font-size: 4rem;
  margin-bottom: 1.9rem;
  transition: color 0.3s ease-out;
}

 .service > .ser-title{

  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  transition: color 0.3s ease-out;
 }

 .service > .desc{
   line-height: 1.55rem;
   margin: 0;
 }

 .service:hover > .icon{


  color: rgb(0, 0, 0);


 }