.container {
  width: 1460px;
  max-width: 70%;
  margin: 0 auto;
}

.btn {
  padding: 8px 20px;
  outline: none;
  background: transparent;
  border: 2px solid rgb(255, 0, 98);
  border-radius: 9%;
  color: var(--pure);
  font-size: 20px;
  animation: button 3s ease-in-out infinite alternate;
}

@keyframes button {
  50% {
    transform: translateY(0%) scale(0.9);
  }
}

.btn:hover {
  transition: 0.3s ease-out;
  background: rgb(255, 0, 98);
}

.green {
  color: greenyellow;
  font-size: 2rem;
}

.blue {
  color: rgb(255, 0, 98);
  font-size: 3rem;
}
